@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    padding: 1rem;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    color: black;
    text-decoration: none;
    font-size: 1.2rem;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #00acee;
}

.logo {
    font-size: 1.5rem;
    color: transparent;
    font-weight: bold;
}
img
{
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    clip-path: circle();
}
#particles-js
{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.2)), /*url("/img/ferrari.gif");*/;
    background-size: cover;
    background-position: center;
}
body{
    background-color: rgb(8, 21, 52);
}
h1 
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    color: black;
}
.type
{
    color: yellow;
}
.social-media
{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.5s;
}
.social-media a
{
    display: inline-flex;
    width: 40px;
    height: 40px;
    background: #fff;
    color: #fff;
    margin: 0 6px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    text-decoration: none;
}
.social-media a:hover
{
    transform: translateY(-15px);
    transition: 0.5s;
}
@media (max-width: 991px)
{
    h1
    {
        font-size: 2em;
    }
    .social-media
    {
        position: absolute;
        top: 65%;
        margin: 10px;
        padding: 30px;        
    }
}