@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: red;
    padding: 1rem;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #00acee;
}

.logo {
    font-size: 1.5rem;
    color: white;
    font-weight: bold;
}

.menu-toggle {
    display: none;
    font-size: 1.5rem;
    color: white;
}

@media (max-width: 768px) {
    nav ul {
        display: none;
        flex-direction: column;
        width: 100%;
    }

    nav ul.showing {
        display: flex;
    }

    .menu-toggle {
        display: block;
    }
}
/*table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 1rem;
    text-align: left;
}
th, td {
    padding: 8px 12px;
    border: 1px solid #ddd;
}
th {
    background-color: #f4f4f4;
}
tr:nth-child(even) {
    background-color: #f9f9f9;
}
.top-three {
    background-color: #d4edda; /* Verde claro */
/*}
.bottom-three {
    background-color: #f8d7da; 
} /* Rojo claro */
footer {
    text-align: center;
    padding: 20px;
    background-color: transparent;
    color: black;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
}